*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(30, 104, 104);
}


.calculator__grid{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.calculator__grid > button{
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #fff;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);
}

.calculator__grid > button:hover{
    background-color: rgba(255, 255, 255, 0.90);
}

.span__two{
    grid-column: span 2;
}

.calculator__output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator__output .previous__operand{
    color: rgba(255, 255,255, 0.75);
    font-size: 20px;
}
.calculator__output .current__operand{
    color: rgb(255, 255,255);
    font-size: 25px;
}